* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.name {
    font-size: 26pt;
    font-family: 'Stalinist One', cursive;
    border-width: 3px;
    border-color: purple;
    width: 175px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
}