* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.name {
    font-size: 26pt;
    font-family: 'Stalinist One', cursive;
    border-width: 3px;
    border-color: purple;
    width: 175px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
}

.top {
    padding: 5px;
    margin: auto -50px;
    position: relative;
    bottom: 20px;
    font-size: 18pt;
}

.profile_pic {
    height: 350px;
    width: 350px;
    border-radius: 100%;
}

header {
    display: flex;
    justify-content: space-around;
}

header h1 {
    position: relative;
    top: 100px;
    left: 30px
}

header nav {
    position: relative;
    top: 80px;
    right: 30px;
}

h4 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 17px;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

.pic_2 {
    height: 300px;
    width: 500px;
    padding: 0;
    margin: 0 -40px;
}

.aboutme {
    display: flex;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.aboutme article {
    position: relative;
    top: 100px;
    right: 45px;
}

.aboutme h2 {
    height: 50px;
    width: 300px;
    padding: 5px;
    position: relative;
    left: 310px;
    top: 50px;
}

.spacing {
    position: relative;
    left: 40px;
}

.position {
    bottom: 10px;
    width: 1000px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.adjust {
    position: relative;
    top: 25px;
}

ol li {
    list-style-type: lower-roman;
}

ul li {
    list-style-type: square;
}

.move_down {
    position: relative;
    top: 10px;
}

form {
    padding: 5px;
}

.last_name {
    margin-left: 5px;
}

input {
    height: 35px;
    width: 200px;
}

.width {
    width: 410px;
}

.up {
    float: right;
    padding: 20px;
}

.footer {
    display: flex;
}