* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.name {
    font-size: 26pt;
    font-family: 'Stalinist One', cursive;
    border-width: 3px;
    border-color: purple;
    width: 175px;
    margin-left: 15px;
    position: relative;
    bottom: 5px;
}

.top {
    padding: 5px;
    margin: auto -50px;
    position: relative;
    bottom: 20px;
    font-size: 18pt;
}

img {
    height: 350px;
    width: 350px;
    border-radius: 100%;
}

header {
    display: flex;
    justify-content: space-around;
}

header h1 {
    position: relative;
    top: 100px;
    left: 30px
}

header nav {
    position: relative;
    top: 80px;
    right: 30px;
}

h4 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 17px;
}